<div class="projects-container">
  <div class="released">
    <h2 class="released-title">Released products</h2>
    <p class="release-about">
      This section displays the projects I worked on and have been
      <span class="bold">publicly disclosed</span>:
    </p>
    <div class="released-content">
      <ul class="released-list">
        <li>
          <p class="released-project-title">
            (2024) STM32N6 with Neural-ART accelerator™
          </p>
          <p>
            <span class="bold">The STM32N6</span> is the
            <span class="bold">first STM32 microcontroller</span> to embed the
            <span class="bold">Neural-ART accelerator™</span>, an in-house
            developed Neural Processing Unit (NPU) engineered for
            power-efficient Edge AI applications. From 2021 to 2024 I was
            <span class="bold">responsible for the verification</span> of the
            core Convolution Accelerator IP embedded in the Neural-ART™ and I
            also <span class="bold">contributed to the design</span> of some of
            its features.
          </p>
        </li>
        <li>
          <p class="released-project-title">
            (2024) Audi Q6 e-tron's Digital OLED Rear Lights
          </p>
          <p class="released-project-description">
            The <span class="bold">Audi Q6 e-tron</span> is the
            <span class="bold">world-first car</span> equipped with 60-segments
            digital <span class="bold">OLED</span> light panels. From 2019 to 2021 I was <span class="bold">responsible for
            the development</span> of the rear lights electronic system.
          </p>
        </li>
      </ul>
    </div>
  </div>
  <div class="projects">
    <h2 class="projects-title">European projects</h2>
    <p class="projects-about">
      This section displays the
      <span class="bold">public EU-funded</span> projects I contributed to:
    </p>
    <div class="projects-content">
      <ul>
        <li>
          <p class="projects-project-title">(Ongoing) NeuroSoC</p>
          <p class="projects-project-description">
            The overarching objective of <span class="bold">NeuroSoC</span> is
            to develop a
            <span class="bold">flexible computing system</span> where an analog
            IMC-based Neural Processing Unit (IMNPU) is integrated into a
            functional safe and secure
            <span class="bold">Multi-Processor System-on-Chip</span> (MPSoC) to
            tackle the requirements of a wide set of edge-AI applications. From
            2025 I contribute to the outcome of Work Package 3 (Architecture),
            specifically I am
            <span class="bold">responsible for the development</span> of the
            core In-Memory Computing (IMC) Convolution Accelerator IP embedded
            in the MPSoC.
          </p>
        </li>
      </ul>
    </div>
  </div>
</div>
