body {
  margin: 0;
  font-family: Arial, sans-serif;
  height: 100vh;
  width: 100vw;
  font-size: 1rem;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: green;
}

@media (min-width: 1024px) {
  .content {
    display: flex;
    height: 90.8%;
  }

  #navbar {
    height: 100%;
  }

  .container {
    padding: 20px;
  }
}
