
.awards-title,
.publications-title,
.patents-title,
.conferences-title {
  border-bottom: 2px solid darkgreen;
}

.released-project-description,
.projects-project-description {
  text-align: justify;
}

@media (min-width: 1024px) {
  .awards-title,
  .publications-title,
  .patents-title,
  .conferences-title {
    font-size: 2rem;
    color: darkgreen;
  }
  
  .released-project-title,
  .projects-project-title {
    font-weight: bold;
  }
  
  .awards-list {
    padding-left: 1.2rem;
  }
  
  .awards-list li::marker {
    color: darkgreen;
  }

  .awards-sublist li::marker {
    color: black;
  }

  .awards-subtitle {
    font-weight: bold;
    color: darkgreen;
    font-size: 1.3rem;
  }

  .awards-item-title {
    font-weight: bold;
    margin-bottom: 0;
    font-size: 1.1rem;
  }

  .awards-item-content {
    margin-top: 0.2rem;
  }
}
