<div>
  <div id="awards">
    <h2 class="awards-title">Awards</h2>
    <p class="awards-about">
      This section displays the awards I have been honored with
      <span class="bold">directly</span> or
      <span class="bold">indirectly</span> by contributing to the
      <span class="bold">underlying project</span> or activity:
    </p>
    <div class="awards-content">
      <ul class="awards-list">
        <li>
          <h3 class="awards-subtitle">(2025) STMicroelectronics STAR Awards</h3>
          <ul class="awards-sublist">
            <li class="awards-subcontent">
              <p class="awards-item-title">Best Team (Silver Medal)</p>
              <p class="awards-item-content">
                This award recognizes the best teams within the company. <br />
                My team was awarded Silver medal in the Product Innovation
                category for the project "STM32N6 mass market and Personal
                Electronics key customer support" in recognition of its
                innovative contributions to the field of Edge AI and
                AI-enhanched microcontrollers.
              </p>
            </li>
          </ul>
        </li>
        <li>
          <h3 class="awards-subtitle">(2025) Automotive News Awards</h3>
          <ul class="awards-sublist">
            <li class="awards-subcontent">
              <p class="awards-item-title">Innovation Partnership Award</p>
              <p class="awards-item-content">
                Marelli and Audi have been honored for their collaboration on
                the Digital OLED Taillight solution, featured on the 2024 Audi
                Q6 e-tron.<br />
                This celebrates the exceptional partnership of the two companies
                and their innovative achievements in advancing automotive
                technology.
              </p>
            </li>
            <li class="awards-subcontent">
              <p class="awards-item-title">PACE Award</p>
              <p class="awards-item-content">
                Marelli and OLEDWorks have been awarded for Audi Q6 e-tron rear
                lights using the digital OLED 2.0 technology.<br />
                This award honors automotive game-changing innovations developed
                by suppliers and deployed in a series vehicle.
              </p>
            </li>
          </ul>
        </li>
        <li>
          <h3 class="awards-subtitle">(2024) STMicroelectronics STAR Awards</h3>
          <ul class="awards-sublist">
            <li class="awards-subcontent">
              <p class="awards-item-title">
                High Potential Invention - Gold Medal
              </p>
              <p class="awards-item-content">
                This award recognizes High Potential Inventions within the
                company. <br />
                I was awarded for the invention "Run-time reconfigurable,
                streaming-based control unit for a cluster with a design-time
                parametric number of processing elements" (US 2024281646 A1) in
                recognition of my innovative contributions to the field of AI
                hardware acceleration.
              </p>
            </li>
            <li class="awards-subcontent">
              <p class="awards-item-title">Conference Program - Gold Medal</p>
              <p class="awards-item-content">
                This award recognizes the Best Paper within the company. <br />
                I was awarded for the paper "A 40-310 TOPS/W SRAM-Based
                All-Digital Up to 4b In-Memory Computing Multi-Tiled NN
                Accelerator in FD-SOI 18nm for Deep-Learning Edge Applications"
                presented at ISSCC 2023 (DOI: 10.1109/ISSCC42615.2023.10067422).
              </p>
            </li>
            <li class="awards-subcontent">
              <p class="awards-item-title">Best Team - Silver Medal</p>
              <p class="awards-item-content">
                This award recognizes the best Teams within the company. <br />
                My Team was awarded Silver medal in the Innovation category for
                the project "Digital In-Memory Computing (DIMC) next-generation
                neural processing unit in P18: achieving 10x compute density and
                energy efficiency" (DOI: 10.1109/ISSCC42615.2023.10067422) in
                recognition of its innovative contributions to the field of
                Cloud-Connected Autonomous Things.
              </p>
            </li>
            <li class="awards-subcontent">
              <p class="awards-item-title">
                Best Company Strategy - Bronze Medal
              </p>
              <p class="awards-item-content">
                This award recognizes the best Company Strategy within the
                company. <br />
                My Team was awarded Bronze medal for the project “The ST Edge AI
                Core Technology and Suite: From the Affinity Team to an ST
                Unified AI tool and Ecosystem”.
              </p>
            </li>
          </ul>
        </li>
        <li>
          <h3 class="awards-subtitle">(2024) STMicroelectronics SRA Awards</h3>
          <ul class="awards-sublist">
            <li class="awards-subcontent">
              <p class="awards-item-title">Invention Award - Gold Medal</p>
              <p class="awards-item-content">
                This award recognizes High Potential Inventions within the SRA
                division. <br />
                I was awarded for the invention "Run-time reconfigurable,
                streaming-based control unit for a cluster with a design-time
                parametric number of processing elements" (US 2024281646 A1) in
                recognition of my innovative contributions to the field of AI
                hardware acceleration.
              </p>
            </li>
          </ul>
        </li>
        <li>
          <h3 class="awards-subtitle">(2023) STMicroelectronics FMT Awards</h3>
          <ul class="awards-sublist">
            <li class="awards-subcontent">
              <p class="awards-item-title">Best Project - Gold Medal</p>
              <p class="awards-item-content">
                This award recognizes the best advancements in Front-End
                Manufacturing and Technology within the company. <br />
                My Team was awarded Gold medal in the Project category for the
                project "DIMC Next-Gen Neural Processing Unit in P18: Achieving
                10x compute Density and Energy efficiency" (DOI:
                10.1109/ISSCC42615.2023.10067422) in recognition of its
                innovative contributions to the field of Cloud-Connected
                Autonomous Things.
              </p>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
  <div id="publications">
    <h2 class="publications-title">Publications</h2>
  </div>
  <div id="patents">
    <h2 class="patents-title">Patents</h2>
  </div>
  <div id="conferences">
    <h2 class="conferences-title">Conferences</h2>
  </div>
</div>
