<div>
  <div id="awards">
    <h2 class="awards-title">Awards</h2>
    <p class="awards-about">
      This section displays the awards I have been honored with
      <span class="bold">directly</span> or
      <span class="bold">indirectly</span> by contributing to the
      <span class="bold">underlying project</span> or activity:
    </p>
    <div class="awards-content">
      <ul class="awards-list">
        <li>
          <h3 class="awards-subtitle">(2025) STMicroelectronics STAR Awards</h3>
          <ul class="awards-sublist">
            <li class="awards-subcontent">
              <p class="awards-item-title">Best Team (Silver Medal):</p>
              <p class="awards-item-content">
                This award recognizes the best teams within the company. My team
                was awarded Silver medal in the Product Innovation category for
                the project "STM32N6 mass market and Personal Electronics key
                customer support" in recognition of its innovative contributions
                to the field of Edge AI and AI-enhanched microcontrollers.
              </p>
            </li>
          </ul>
        </li>
        <li>
          <h3 class="awards-subtitle">(2025) Automotive News Awards</h3>
          <ul class="awards-sublist">
            <li class="awards-subcontent">
              <p class="awards-item-title">Innovation Partnership Award:</p>
              <p class="awards-item-content">
                Marelli and Audi have been honored for their collaboration on
                the Digital OLED Taillight solution, featured on the 2024 Audi
                Q6 e-tron. This celebrates the exceptional partnership of the
                two companies and their innovative achievements in advancing
                automotive technology.
              </p>
            </li>
            <li class="awards-subcontent">
              <p class="awards-item-title">Innovation Partnership Award:</p>
              <p class="awards-item-content">
                Marelli and Audi have been honored for their collaboration on
                the Digital OLED Taillight solution, featured on the 2024 Audi
                Q6 e-tron. This celebrates the exceptional partnership of the
                two companies and their innovative achievements in advancing
                automotive technology.
              </p>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
  <div id="publications">
    <h2 class="publications-title">Publications</h2>
  </div>
  <div id="patents">
    <h2 class="patents-title">Patents</h2>
  </div>
  <div id="conferences">
    <h2 class="conferences-title">Conferences</h2>
  </div>
</div>
