<div>
  <div id="awards">
    <h2 class="awards-title">Awards</h2>
    <p class="awards-about">
      This section displays the awards I have been honored with <span class="bold">directly</span> or
      <span class="bold">indirectly</span> by contributing to the <span class="bold">underlying project</span> or activity:
    </p>
    
  </div>
  <div id="publications">
    <h2 class="publications-title">Publications</h2>
  </div>
  <div id="patents">
    <h2 class="patents-title">Patents</h2>
  </div>
  <div id="conferences">
    <h2 class="conferences-title">Conferences</h2>
  </div>
</div>
