@media (min-width: 1024px) {
  .navbar button {
    color: white;
    background: transparent;
    border: none;
    cursor: pointer;
    border-radius: 1rem;    
    padding: 0.5rem 1rem;
    font-size: 1.5rem;
    &:hover {
      background-color: darkgreen;
    }
  }

  .navbar {
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: green;
    overflow: hidden;
    height: 100%;
    gap: 24px;
    padding: 3rem 1.5rem;
    font-weight: semibold;
    font-size: 24px;
  }

  .navbar-right {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .navbar-item {
    display: flex;
    align-items: center;
    gap: 1/4rem;
  }

  .achievements-container,
  .education-container {
    position: relative;
  }

  .achievements-submenu,
  .education-submenu {
    display: flex;
    flex-direction: column;
  }

  .achievements-submenu button,
  .education-submenu button {
    padding: 0.5rem 1rem;
    font-size: 16px;
    border: none;
    text-align: left;
    cursor: pointer;
    border-radius: 1rem;
    &:hover {
      background-color: darkgreen;
    }
  }

  .hidden {
    display: none;
  }
}
