@media (min-width: 1024px) {
  .navbar button {
    color: white;
    background: transparent;
    border: none;
    cursor: pointer;
  }

  .navbar {
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: green;
    overflow: hidden;
    height: 100%;
    gap: 24px;
    padding: 3rem 1.5rem;
    font-weight: semibold;
    font-size: 24px;
  }

  .navbar-right {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .navbar-item {
    display: flex;
    align-items: center;
    gap: 1/4rem;
  }

  .achievements-container,
  .education-container {
    position: relative;
  }

  .achievements-submenu,
  .education-submenu {
    position: absolute;
    display: flex;
    flex-direction: column;
    z-index: 1;
    background-color: white;
    left: 7rem;
    top: 0;
    border-radius: 12px;
  }

  .achievements-submenu button,
  .education-submenu button {
    padding: 0.5rem 1rem;
    font-size: 16px;
    color: black;
    background: white;
    border: none;
    text-align: left;
    cursor: pointer;
    &:first-child {
      border-top-left-radius: 12px;
      border-top-right-radius: 12px;
    }
    &:last-child {
      border-bottom-left-radius: 12px;
      border-bottom-right-radius: 12px;
    }
    &:hover {
      background-color: #f0f0f0;
    }
  }

  .hidden {
    display: none;
  }
}
