@media (min-width: 1024px) {
  .navbar a {
    color: white;
  }

  .navbar {
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: green;
    overflow: hidden;
    height: 100%;
    gap: 24px;
    padding: 3rem 1.5rem;
    font-weight: semibold;
    font-size: 24px;
  }

  .navbar-right {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
}
